body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
	color: #333;
	min-width: 900px;
	border: 0px;
}
a:link {
	color: #333;
	text-decoration: underline;
}
a:visited {
	color: #333;
}
a:active {
	color: #333;
}
a:hover {
	color: #333;
	text-decoration: none;
}
p {
	margin: 5px;
	padding: 0px;
}
p.slogan {
	font-style: italic;
}
p.list {
	text-align: left;
}
p.listleft {
	text-align: right;
}
.inline {
	display: inline-block;
}
.banner {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	border: 0px;
	margin: 0px;
	width: 100%;
	white-space: nowrap;
}
.banner div {
	display: inline-block;
	vertical-align: top;
}
.gray {
	background-color: #DDD;
}
.box {
	border: solid 2px #666;
	padding: 10px;
	margin: 0px;
	border-radius: 10px;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
	margin: 5px;
	padding: 0px;
	color: #AA0000;
}
h2 {
	font-size: 1.5em;
	font-weight: normal;
	display: inline-block;
	margin: 5px;
	padding: 0px;
	color: #555;
}
h3 {
	font-size: 1.2em;
	font-weight: normal;
	display: inline-block;
	margin: 5px;
	padding: 0px;
}
.code {
	text-align: left;
	font-family: monospace, terminal, courier;
	font-size: 1em;
}
.codevalue {
	color: #c00;
}
.codekeyword {
	color: #00c;
}
.console {
	color: #0a0;
}
